<h2 class="text-center text-bg-success">Usuarios</h2>

<p-table #dt [value]="tableData"
         [paginator]="true"
         [rows]="5"
         [scrollable]="false"
         [tableStyle]="{ 'min-width': '50rem' }"
         [rowsPerPageOptions]="[5, 10, 20]"
         [globalFilterFields]=
           "['firstName', 'lastName', 'email']">

  <ng-template pTemplate="caption">

    <div style="text-align: right">

      <p-button *ngIf="currentUser.role?.roleName === 'admin'" label="Create"
                (click)="showForm()"/>

      <i class="pi pi-search"
         style="margin:4px 4px 0 0"> </i>
      <input type="text" pInputText
             size="50" c
             placeholder="Escribe aqui para buscar"
             style="width:auto"
             (input)="applyFilterGlobal($event, 'contains')"
      />
      <!-- Error al implementar el fitlrado de resultados -->
      <!--             (input)="dt?.filterGlobal($event.target.value, 'contains')"-->

    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>
        {{ user.userId }}
      </td>
      <td>
        {{ user.firstName }}
      </td>
      <td>
        {{ user.lastName }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.role?.roleName || "n/a" }}
      </td>
      <td *ngIf="currentUser.role?.roleName === 'admin'">
        <p-button id="editBtn" (click)="showForm(true, user)" label="Edit"/>
        <p-button (click)="deleteUser(user.userId)">Eliminar</p-button>
      </td>
    </tr>

  </ng-template>
</p-table>

<p-dialog header="{{editable ? 'Edit profile':'Create Profile'}}" [modal]="true" [(visible)]="visible"
          [style]="{ width: '25rem'}">
  <span class="p-text-secondary block mb-8">{{ editable ? "Edit user." : "Create a new user." }}</span>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

    <div class="flex items-center gap-4 mb-4">
      <label class="font-semibold w-24">First Name</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="firstname" name="firstName"/>
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24">Last Name</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="lastname" name="lastName"/>
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24">Email</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="email" name="email"/>
    </div>

    <div *ngIf="!editable" class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24">Username</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="username" name="username"/>
    </div>

    <div *ngIf="!editable" class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24">Password</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="password" name="password"/>
    </div>

    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24">Role</label>
      <select pDropdown class="flex-auto" formControlName="role" name="role">
        <option *ngFor="let role of roles" [ngValue]="role">{{ role.id + ": " + role.roleName }}</option>
      </select>
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible = false"/>
      <p-button label="Save" type="submit"></p-button>
    </div>

  </form>
</p-dialog>
